body{
    background-color:#befff6;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px;
}

/* ===================top====================== */
.top{
    /* background-color: azure; */
    width:100%;

}
.logo{
    display: flex;
    justify-content: center;
}
.qr{
    display:flex;
    justify-content: right;
}
.logo img, .qr img{
        height:100px
}
.certificate{
    
    padding:40px 100px;
    margin:0px;
    width:100%;
}
.box{
    padding:20px;
    border:solid 3px #4179fb;
    
}
.serial span{
    color:red;
}

/* ===============================2nd============== */
.title{
    display:flex;
    justify-content: center;
}
.title img{
    width:80%;
    height:300px;
    object-fit: cover;
}

/* ======================3rd==================== */
.head h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin: 10px 0px;
}

/* =============================4th====================== */
.info{
    display:grid;
}
td,tr,th{
    border:solid 2px black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
}
th{
    width:50%
}
th span{
    font-size: 20px;
    color:#4179fb;
}



/* ===============5th===================== */
.marks {
    margin-top: 10px;
}

.combined-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.combined-table th,
.combined-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.combined-table input[type=number] {
    width: 100%;
    box-sizing: border-box;
}

/* ===============6th===================== */
.total #topic{
    color:red;
    font-size:18px;
}

/* =======================bottom================== */
.box{
    position:relative;
}
.para{
    position:absolute;
    bottom:150px;
    left:400px;   
    text-align: center;
    font-size:12px;
}

.bottom{
    margin-top:200px;
}
.bottom .center{
    text-align: center;
}